body{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
ul,ol{
  padding: 0;
  margin: 0;
  list-style: none;
}
button{
  cursor:pointer ;
}
.header-top{
  display: flex;
  justify-content: space-between;
  background: #060606;  
  align-items: center;

}
.city{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #e5e5e5;
}
.shedule{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #e5e5e5;
}
.tel{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #e5e5e5;
}
.call{
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  color: #969696;
}
.price{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #060606;
  padding: 8px 32px 16px 8px;
}