body{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
ul,ol{
  padding: 0;
  margin: 0;
  list-style: none;
}
button{
  cursor:pointer ;
  border: 0;
}
.header-top{
  display: flex;
  justify-content: space-between;
  background: #060606;  
  align-items: center;

}
.header-top>a{
  margin-left: 248px;
}
.header-main-img{
  display: flex;
}
.header-main{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #060606;
  opacity: 0.8;
}
.city{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #e5e5e5;
}
.shedule{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #e5e5e5;
}
.tel{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  color: #e5e5e5;
}
.call{
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;
  color: #969696;
}
.price{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #060606;
  padding: 8px 32px 16px 8px;
}
.header-button{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
  border-radius: 5px;
  padding: 12px 16px;
  width: 222px;
  height: 48px;
  box-sizing: border-box;
  background: #81bc3d;
  margin-left: 248px;
  display: flex;
  align-items: center;
}
.header-button>img{
  margin-right: 24px;
}

.menu{
  display: flex;
}
.menu>li{
  margin-right: 24px;
}
.menu>li:last-child{
  margin-right: 0;
}
.menu>li>a{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}
.header-info{
  display: flex;
  align-items: center;
}






.catalog>.container{
    .container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 23px 31px;
    grid-auto-flow: row;
    grid-template-areas:
      "a b c"
      "a d f"
      "a e f"
      "g h k"
      "g j k"
      "z x m";
  }

  .a { grid-area: a; }

  .b { grid-area: b; }

  .c { grid-area: c; }

  .d { grid-area: d; }

  .e { grid-area: e; }

  .f { grid-area: f; }

  .g { grid-area: g; }

  .h { grid-area: h; }

  .j { grid-area: j; }

  .k { grid-area: k; }

  .z { grid-area: z; }

  .x { grid-area: x; }

  .m { grid-area: m; }
}

